<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Startup jobs" %></title>
	<meta name="description" content="Startup jobs in Krakow">
	<meta name="author" content="GoodEnoughProduction">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body>
<div id="main" role="main">
	<div class="container container-narrow">
		<div class="content">
			<div class="row-fluid">
				<%= render 'layouts/messages' %>
				<%= yield %>
			</div>

			<hr />
			<footer>
				<p><a href="mailto:a.kulbei@gmail.com">Contact us</a> | Developed by &copy; <a href="http://goodenough.herokuapp.com/">Good Enough Production 2013</a></p>
			</footer>
		</div>
	</div> <!--! end of .container -->
</div> <!--! end of #main -->
<!-- GA -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41941093-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
